[Desktop Entry]
Version=1.0
Type=Application
Name=Wave 
Comment=Wave Style for XFCE Desktop
Exec=/usr/share/archcraft/styles/Wave.sh
Icon=gtk-theme-config
Path=
Terminal=false
StartupNotify=false
